.fondo{
	background-image: url("../img/graph-tile.png");
	height: 2280px;
}
.seccion1{
	margin-top: 5%;
}
.seccion2{
	margin-top: 6%;
}

h1{
	color: red;
	font-size: 35px;
}
.subtitulo2{
	font-size: 20px;
	margin-top: 58%;
}

.logo{
	display: block;
	margin:auto;
	margin-top: 5%;
}
.textofinal{
	margin-top: 5%;
}
.cuadro{
	margin-top: 4%;
	border: solid 1px gray;
	border-radius: 15px;
	padding: 3%;
}
.seccion4{
	margin-top: 2%;
}
p:first-letter{
 	font-size: 60px;
 	font-color:red;
 	margin-right: 5px;
 	color: red;
 	
}