/*rojo: #ba1820;*/
body{
	font-family: Times New Roman;
}
.fondo{
	background-image: url("../img/graph-tile.png");
	height: 2280px;
}
.seccion1{
	margin-top: 5%;
}
.seccion2{
	margin-top: 6%;
}

h1{
	color: #ba1820;
	font-size: 35px;
}
.subtitulo2{
	font-size: 20px;
	margin-top: 58%;
	color: #ba1820;
}

.logo{
	display: block;
	margin:auto;
	margin-top: 5%;
}
.textofinal{
	margin-top: 5%;
}
.cuadro{
	margin-top: 4%;
	border: solid 1px gray;
	border-radius: 15px;
	padding: 3%;
}
.seccion4{
	margin-top: 2%;
}
p:first-letter{
 	font-size: 60px;
 	font-color:#ba1820;
 	margin-right: 5px;
 	color: #ba1820;
 }
p::first-line{
	color:#ba1820;
}